@import "tailwindcss";

.text-primary {
  color: #000000;
}

.text-secondary {
  color: #d01c1c;
}

.bg-primary {
  background-color: #000000;
}
.bg-secondary {
  background-color: #d01c1c;
}

body {
  font-family: var(--font-inter), sans-serif;
}

code {
  font-family: var(--font-roboto-mono), monospace;
}
html {
  scroll-behavior: smooth;
}
